@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,500;1,600&family=Open+Sans:ital,wght@0,700;0,800;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono&display=swap');


i{
    padding: 3px;
    font-size: 18px;
}
.padded{
    padding: 50px 0px;
}
#padded{
    padding: 50px 0px;
}
/*nav*/
#navigation{
    background-color: #1565c0;
    padding: 5px;
    color: #ffffff;
    font-weight: 480;
    
}

#col-start{
    text-align: start;
}
#col4{
    text-align: end;
}
#nav-col-center{
    text-align: center;
}
/*nav*/

/*navbar*/
#navbarNav{
    justify-content: end;
    
    
}
.navbar-brand{
    padding-left: 60px;
}
#nav-link-home{
    color: #1565c0 !important;
    
}
.nav-link{
    color: black;

}
#navbarNav a{
    padding: 30px;
    font-size: 17px;
    font-weight: 480;
}
a:hover{
    color: #1565c0;
}
#navbarNav i{
    font-size: 25px;
}

/*navbar*/

/*SLIDER*/
.carousel-caption{
    display: table;
    height: 100%;
    width: 750px;
    opacity: 80%;
    padding: 35px 60px;
    left: 0;
    right: 0;
    text-align: left;
    background: linear-gradient(to right,  #daa185 80%, transparent); 
    
}
.carousel-caption-aling{
    display: table-cell;
    vertical-align: middle;
    color: black;
    font-size: 18px;
    font-weight: 500;
    
}
.carousel-caption-aling h1{
    font-family: 'Open Sans';
    font-size: 45px;
    font-weight: 700;
}
#boton{
    border-radius: 15px;
}

#slider1{
    background: linear-gradient(to right,  #e5ecf2 80%, transparent); 
}
/*SLIDER*/

/*OUR SERVICE*/
#our-service-text{
    text-align: center;
}
#our-service-text i{
    font-size: 125px;
    font-weight: 100;
    color: #1565c0;
}


#imagen{
    cursor: pointer;
}
#imagen1{
    cursor: pointer;
}
#imagen2{
    cursor: pointer;
}
#imagen3{
    cursor: pointer;
}
#imagen4{
    cursor: pointer;
}
#imagen5{
    cursor: pointer;
}
